@tailwind base;
@tailwind components;
@tailwind utilities;
.table-container .ant-table-thead > tr > th {
  background-color: #2563eb !important;
  color: white !important;
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

.animate-spin-slow{
  animation: spin-slow 1s linear infinite;
}